@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v12/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v22/u-4n0qyriQwlOrhSvowK_l52_wFZWMf6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v22/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainPage{
  display: flex;
  flex-direction: column;
position: relative;
width: 100%;
background: #F9FCFE;
overflow: visible;
}

.menu {
z-index: 2;
position: absolute;
width: 1022px;
height: 80px;
left: 208px;
top: 62px;
background: #FFFFFF;
box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.1);
border-radius: 6px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
/*  width: 100vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #64FF92;*/
}
.menu ul li {
  display:flex;
  flex:1;
  height: 17px;
  width: 14px;
  font-style: normal;
font-weight: bold;
font-size: 16px;
}
.menu ul li a {
  font-family: LD;
  color: #333333;
  text-align: center;
  text-decoration: none;
}
.mainItem {
  margin-right: 475px;
  margin-left: 73px;
  align-self: center;
}

/*.top {
  height: 90vh;
  width: 100vw;
  background-color: #64FF92;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 70%;
}*/


.toptext h1 {
/*  padding-left: 10vw;
  padding-right: 5vw;
  padding-top: 20vh;*/
position: absolute;
width: 627px;
height: 63px;
left: 208px;
top: 281px;

font-family: Merriweather;
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 50px;
display: flex;
align-items: center;
color: #333333;
}

.subtext h2{
position: absolute;
width: 535px;
height: 144px;
left: 208px;
top: 341px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 150.7%;

display: flex;
align-items: center;
color: #333333;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
width: 150px;
height: 50px;
left: 207px;
top: 494px;

background: #FD80C8;
box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.1);
border-radius: 4px;
}

.button h3 {
position: absolute;
width: 99px;
height: 17px;

font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;

align-items: center;
text-align: center;
z-index: 1;
color: #FFFFFF;
}
.button a {
  text-decoration: none;
  color: #FFFFFF;
}

.info {
  position: absolute;
  width: 118px;
  height: 17px;
  left: 380px;
  top: 511px;

  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;


  align-items: center;
  text-align: center;
  color: #333333;
}
.info a {
  text-decoration: underline;
}
.gif{
  position: absolute;
width: 394px;
height: 394px;
left: 835px;
top: 217px;
border-radius: 50%;
}





.whyYpatia {
display: flex;

}

.title {
  color: #333333;
  font-family: Merriweather;
font-style: normal;
font-weight: 900;
font-size: 34px;
line-height: 43px;
display: flex;
align-items: center;
text-align: center;
}

 #ypatia{
  position: absolute;
width: 627px;
height: 63px;
left: 407px;
top: 766px;

font-family: Merriweather;
font-style: normal;
font-weight: 900;
font-size:34px;
line-height: 43px;
display: flex;
align-items: center;
text-align: center;
color: #333333;
}

.subtitle{
  position: absolute;
width: 553px;
height: 50px;
left: 205px;
top: 954px;

font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;

color: #000000
}

.whyp{
  position: absolute;
width: 553px;
height: 178px;
left: 206px;
top: 989px;

font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
text-transform: capitalize;
z-index:1;
color: #000000;
}

.picture{
  position: absolute;
width: 768px;
height: 363px;
left: 693px;
top: 879px;
background: #C4C4C4;
}




.howWeWork{
display: flex;
justify-content: center;
align-items: center;
}

#how {
position: absolute;
width: 627px;
height: 63px;
top: 1451px;
left: 407px;
font-size: 34px;
}

.work-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 723px;
left: 359px;
top: 1538px;
}
 pre{
   text-align: center;
   margin-bottom: 40px;
 }

.imgOfGroup{
width: 768px;
height: 363px;
background: #C4C4C4;
border-radius: 4px;
margin-bottom: 40px;
}
p{
  font-family: Merriweather;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 23px;
display: flex;
align-items: center;
text-align: center;
margin-bottom: 20px;
}
.values ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 984px;
  height: 217px;
}

.values li{
  font-family: Rubik;
font-style: normal;
font-weight: bold;
font-size: 14px;

display: inline-flex ;
align-items: center;
text-align: center;

color: #1B3B66;

  margin: 10px 5px;
  background: #C9EBFE;
  box-shadow: -4px 4px 0px #9AB2D7;
  border-radius: 40px;
  list-style-type: none;
  padding: 5px 24px;

}
.values li a{
  text-decoration: none;
}

footer{
position: relative;
display: flex;


}
#team{
  position: absolute;
  width: 627px;
  height: 37px;
  left: 394px;
  top: 2431px;

  font-family: Merriweather;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #333333;
}

.teamContent{
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1026px;
  height: 481px;
  left: 253px;
  top: 2477px;

}
.teammember{
  width: 317px;
  height: 217px;
margin: 20px 45px;
display: flex;
flex-direction: column;

}
.teammember> h3{
font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 40px;
height: 40px;
text-transform: capitalize;
color: #000000;

}

.teammember >p {
display: flex;
flex-direction: column;
font-family: Rubik;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23.7px;
color: #000000;
text-align: left;
}

.dots{
  text-align: left;
}

.more{
  display: none;
}

button{
  border:0px;
  padding: 0px;
  background-color: #F9FCFE;
  color: #26E4F0;
  z-index: 1;
}
@media only screen and (max-width:400px) {
  /* % in width*/
}
@media only screen and (min-width:401px ) and (max-width:960px){

}
@media only screen and (min-width:961px){
  /* fixed width */
}



/*
.content {
  margin: auto;
  width: 80vw;
}

.ytitle {
  color: #FFF662;
  overflow-y: auto;
}

.gtitle {
  color: grey;
  overflow-y: auto;
}

.work {
  margin-left: 10vw;
  margin-bottom: 10vw;
  column-count: 1;
  column-gap: 5vw;
}
.work p {
  display: inline-block;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.teammember {
  margin: 1vw;
  flex-basis: 75%;
}

.ypatia {
  text-align: center;
}


  .teammember {
    flex-basis: 45%;
  }

/*  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }

  h3 {
    font-size: 4vw;
  }

  p {
    font-size: 2vw;
  }

  .ypatia video {
    width: 60%;
  }
}
@media screen and (min-width: 1000px) {
  .work {
    column-count: 2;
  }

  .teammember {
    flex-basis: 25%;
  }

  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 3vw;
  }

  h3 {
    font-size: 2vw;
  }

  p {
    font-size: 1vw;
  }

  .ypatia video {
    width: 30%;
  }
}


/*# sourceMappingURL=styles.css.map */
